			</div>
        </div>
    </body>
    <script type="text/javascript" src="../views/js/jquery.min.js"></script>
    <script type="text/javascript" src="../views/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../views/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../views/js/jquery.autocomplete.js"></script>
    <script type="text/javascript" src="../views/js/raty/jquery.raty.js"></script>
    <script type="text/javascript" src="../views/js/main.js"></script>
</html>